@font-face {font-family: 'VAGRoundedStdBold'; src: url('fonts/vagroundedstd-bold.html'); src: url('/fonts/vagroundedstd-bold.html') format('embedded-opentype'), url('/fonts/vagroundedstd-bold-2.html') format('woff'), url('/fonts/vagroundedstd-bold-3.html') format('truetype'), url('/fonts/vagroundedstd-bold.svg#VAGRoundedStdBold') format('svg'); }

body {
  background-color: #f4df42;
  overflow: hidden;
}

.main {
  position: relative;
  height: 100vh;
}

.header {
  height: 80px;
}

.content {
  max-width: 700px;
  margin: 0 auto;
  height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 40px;
  width: 100%;
  background-color: #000000;
  color: #ffffff;
}

.mauricio {
  max-width: 400px;
  margin: 0 auto;
}

.joke {
  height: 350px ;
  text-align: left;
  font-family: 'VAGRoundedStdBold';
  font-weight: bold;
  font-weight: 500;
  line-height: 1.1;
  font-size: 60px;

}
