body {
  background-color: #f4df42;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

@font-face {font-family: 'VAGRoundedStdBold'; src: url('fonts/vagroundedstd-bold.html'); src: url('/fonts/vagroundedstd-bold.html') format('embedded-opentype'), url('/fonts/vagroundedstd-bold-2.html') format('woff'), url('/fonts/vagroundedstd-bold-3.html') format('truetype'), url('/fonts/vagroundedstd-bold.svg#VAGRoundedStdBold') format('svg'); }

div.phrase {
  text-align: center;
  font-family: 'VAGRoundedStdBold';
  font-weight: bold;
  font-weight: 500;
  line-height: 1.1;
  font-size: 60px;
}
