<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<div class="phrase">
  Hola! Habla Mauricio!<br>
  <%= phrase %>
</div>

<% include ../partials/footer.ejs %>
</body>
</html>
